.custom-btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon {
  width: 20px;
  height: 20px;
}

.btn-label {
  display: inline-block;
}
