<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>"insert design pattern name"</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="dashboard-content">
    <!-- Your dashboard content here -->
    <div [ngSwitch]="activeTab">
      <div *ngSwitchCase="'home'">
        <cos214app-tutorials [tutorialCards]="tutorialCards" />
      </div>
      <div *ngSwitchCase="'quiz'">
        <cos214app-quiz [quizCards]="quizCards" />
      </div>
      <div *ngSwitchCase="'leaderBoard'">
        <cos214app-leaderboard />
      </div>
      <div *ngSwitchCase="'insights'">
      </div>
      <div *ngSwitchCase="'profile'">
        <h1>Profile Content</h1>
      </div>
    </div>
  </div>

  <!-- Floating Tab Bar -->
  <app-floating-tab-bar
    [tabs]="tabs"
    [activeTabId]="activeTab"
    (tabChange)="onTabChange($event)"
  ></app-floating-tab-bar>
</ion-content>
