.title {
  text-align: center;
  color: var(--ion-color-primary, #2301a7);
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 12px 0;
  letter-spacing: -0.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}