<ion-content>
  <div class="page-wrapper">
    <div class="form-container">
      <mat-card>
        <mat-card-content>
          <h1 class="form-title">Sign Up</h1>
          <p class="form-subtitle">Lets learn design patterns</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="social-btn-row">
      <button mat-flat-button class="social-btn">
        <mat-icon svgIcon="facebook"></mat-icon>
        Facebook
      </button>

      <button mat-flat-button class="social-btn">
        <img src="/assets/google-logo.svg" class="social-icon" />
        Google
      </button>
    </div>

    <p class="or-text">Or</p>

    <div class="form-fields-wrapper">
      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Email/Phone Number</mat-label>
        <input matInput type="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          </button>
      </mat-form-field>

      <mat-checkbox class="terms-checkbox">
        I agree to The <a>Terms of Service</a> and <a>Privacy Policy</a>
      </mat-checkbox>

      <button mat-flat-button color="primary" class="main-button">
        Create Account
      </button>
    </div>

    <p class="bottom-link">Do you have account? <a>Sign In</a></p>
  </div>
</ion-content>