<ion-content>
  <div class="page-wrapper">
    <div class="form-container">
      <mat-card>
        <mat-card-content>
          <h1 class="form-title">Welcome Back</h1>
          <p class="form-subtitle">Let's learn design patterns together</p>
        </mat-card-content>
      </mat-card>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item lines="full" class="custom-input-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          formControlName="userEmail"
          (ionBlur)="emailControl?.markAsTouched()"
        >
        </ion-input>
      </ion-item>
      <ion-note
        color="danger"
        *ngIf="emailControl?.invalid && emailControl?.touched"
      >
        <span *ngIf="emailControl?.errors?.['required']"
          >Email is required.</span
        >
        <span *ngIf="emailControl?.errors?.['email']"
          >Please enter a valid email address.</span
        >
      </ion-note>

      <ion-item lines="full" class="custom-input-item">
        <ion-label position="floating">Password</ion-label>
        <ion-input
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="userPassword"
          (ionBlur)="passwordControl?.markAsTouched()"
        >
        </ion-input>

        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="togglePassword()">
            <ion-icon
              [name]="hidePassword ? 'eye-off-outline' : 'eye-outline'"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-note
        color="danger"
        *ngIf="passwordControl?.invalid && passwordControl?.touched"
      >
        <span *ngIf="passwordControl?.errors?.['required']"
          >Password is required.</span
        >
        <span *ngIf="passwordControl?.errors?.['minlength']"
          >Password must be at least 8 characters.</span
        >
      </ion-note>

      <mat-checkbox class="terms-checkbox" formControlName="termsAccepted">
        I agree to the <a>Terms of Service</a> and <a>Privacy Policy</a>
      </mat-checkbox>
      <div
        *ngIf="termsControl?.invalid && termsControl?.touched"
        style="color: red; font-size: 0.9em"
      >
        You must accept the terms to continue.
      </div>

      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
        Login
      </ion-button>
    </form>

    <p class="bottom-link">
      Don't have an account? <a routerLink="/sign-up">Sign Up</a>
    </p>
  </div>
</ion-content>
